@media only screen and (min-width:320px) and (max-width:480px) {
    .carousel-inner img{
        padding: 0% !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
        width: 100% !important;
    }
    .raxcty{
        margin-top: 1.5rem !important;
    }
    .raxcty2{
        margin-top: 5rem !important;
    }
    .sec-onew span{
        font-size: 14px !important;
    }
    .cheekc{
        border-left: none !important;
    }
    .sm-line3{
        display: none !important;
    }
    .sec-0{
        background: linear-gradient(#1E9BB7 , #4DB791) !important;
        padding: 0%;
        padding-bottom: 10px;
        margin-top: -40px !important;
        overflow: hidden;
        margin-left: -42% !important;
    }
    .ipa{
        margin-left: 35px !important;
    }
    .sec-0 li{
        padding-top: 28px;
        
        font-size: 12px;
        font-weight: none;
    }
    .sec-3 ul{
        display: block;
        margin-left: -12%;
        margin-top: 12px;
    }
    .kaja{
        width: 80%;
    }
    .sec-3 ul li{
        border-bottom: 1px solid white;
        margin-top: 9px !important;    }
    .hassan{
        display: block;
    }
    .hapan{
        display: block;
        margin-top: 27px;
        float: right;
    }
    .sec-0{
        background: linear-gradient(#1E9BB7 , #4DB791);
        margin-top: -14px;
        margin-left: -24px;
        text-align: center;
        width: 200%;
        max-height: 60px;
    }
    .sec-0 li{
        margin-left: 18px;
        margin-top: 13px !important;
    }
    .sec-1 li{
        margin-top: -10px !important;
        margin-left: -44%;
    }
    .maindic{
        margin-top: 0.5px;
    }
    .sec-0 li p{
        margin-top: -6% !important;
        margin-left: -15px;
    }
    .jeep{
        margin-top: -55% !important;
    }
    .dom{
        border-radius: 0%;
        padding-bottom: 29px;
    }
    .maindiv2{
        max-height: 1150px !important;
    }
    .inta{
        margin-left: -88px !important;
    }
    .sec-b{
        width: 520px !important;
        margin-top: -7%;
        margin-bottom: 10px;
        padding: 0% !important;
    }
    .sec-b img{
        border-radius: 15px;
        height: 190px !important;
    }
    .gstar{
        margin-left: 55px;
        float: left;
    }
    .badal{
        padding: 0%;
        width: 510px !important;
        margin: 0%;
    }
    .std{
        font-size: 17px !important;
        font-family: "Eras ITC";
        font-weight: 0%;
        
    }
    .funfact-text {
        margin-top: 24px;
        width: 280px;
        border-left: none;
        margin-left: 20px;
    }
    .dabfar{
        border-bottom: 2px solid #fff;

    }
    .sec-0 li{
        font-size: 10px;
        padding-left: 20px !important;
        margin-left: 20px !important ;
    }
    .oplej{
        margin-left: 25px !important;
        padding: 0%;
    }
    .oplej2{
        
        padding: 0%;
    }
    .hapan{
        margin-left: 20px !important;
    }
    .kaja{
        width: 80%;
        margin-left: -25px;
    }
    .miandd{
        margin-left: -17px;
        font-size: 14px !important;
    }
    .kursi{
        margin-left: 12%;
    }
    .gholl{
        padding-top: 16px;
        text-align: center;
        align-items: center;
    }
    .gholl2{
        /* text-align: center !important; */
        margin-left: 0.5rem !important;
        margin-top: -2rem !important;
        font-size: 22px !important;
    }
    .sirggg{
        margin-left: 18.5% !important;
    
    }
    .bigri3{
        font-size: 12px !important;
    }
    .jave{
        padding-top: 10px;
        font-size: 22px !important;
        margin-left: 1rem !important;
    }
    .harpal{
        margin: 10px;
        height: 550px;
        padding: 0% !important;
        margin: 0% !important;
    }
    .std{
        margin-top: 32px !important;
    }
    .etats{
        color: #fff;
        font-size: 35px !important;
        margin-left: -1px;
        margin-top: 50%;
        letter-spacing: 3px;
    }
    .ghariti{
        height: 550px;
        width: 380px;
        margin-left: -30px;
    }
    #aroer{
        margin-left: -35px !important;
    }
    .rasmywafa{
        margin-left: -1px;
        width: 243px;
    }
    .hero-form-cont-ui2{
        width: 300px !important;
        float: right !important;
        margin-top: 27.5px;
    }
    .hero-form-cont-ui3{
        width: 300px !important;
        margin-left: -11%;
    }
    .mtm2{
        margin-left: 15px !important;
        margin: 46px;
    }
    .mtm232{
        margin-top: 45px;
    }.khatm{
        margin-left: 0.5px;
    }
    .sayasi{
        margin-left: 20px;
        text-align: center;
    }
    .khatm{
        width: 50%;
        margin-top: -0.5px;
        margin-left: 75px !important;
    }
    .lom{
        margin-left: -50% !important;
    }
    .sayasi{
        margin-top: -20px;
    }
    .knif{
        max-height: 100% !important;
        border: none !important;
        border: 2px solid #1E9BB7 !important;
        border-radius: 12px;
    }
    .isipoi{
        display: none !important;
    }
    .airport{
        display: none;
    }
    .airpor{
        margin-left: -30px;
    }
    .filar{
        margin-left: -30px;
    }
    .sec-op ul{
        margin-left: -35px;
        text-align: left;
    }
    .icondtail{
        display: none;
    }
    .sec-op ul li{
        font-size: 22px !important;
        margin-left: 2px;
    }
    .owl-next img{
        display: none;
    }
    .owl-prev img{
        display: none;
    }
    .filar{
        display: none;
    }
    .eeseess{
        display: block !important;
        margin-left: -30px;
    }
    .ceo-name-fa{
        margin-left: -0.5px !important;
    }
    .calander-l{
        margin-left: -0.5px !important;
        padding-left: 42px !important;
    }
    .calander-k{
        margin-left: -0.5px !important;
        padding-left: 42px !important;
    }
    .calander-j{
        margin-left: -0.5px !important;
        padding-left: 42px !important;
    }
    .skill-bars{
        margin-left: -15px !important;
    }
    .informmation-of-us{
        margin-left: -15px !important;
    }
    .ambassador-program-card{
        margin-left: -0.5px !important;
    }
    .burkit1{
        text-align: center !important;
        margin-left: -22px ;
    }
    .ashiqp2{
        float: left !important;
        margin-left: -5rem !important;
    }
    .ashiqp3{
        margin-left: -5px !important;
    }
    .ashiqp5{
        margin-top: -20px !important;
    }
    .carousel-control-prev-icon{
        margin-left: 0.5px !important;
        margin-left: -5px !important;
    }
    .carousel-control-next-icon{
        margin-left: 5.5px !important;
    }
    
    
    

}
@media only screen and (min-width:491px) and (max-width:769px) {
    
    .sec-3 ul{
        padding: 0%;
    }
    .ranjrver{
        margin-top: -92% !important;
    }
    .sm-line3{
        display: none !important;
    }
    .cheekc{
        border-left: none !important;
        margin-top: 20px;
    }
    .sec-3 ul li{
        margin-left: -1 0px;
        font-size: 7.6px;
        font-weight: 600;
    }
    .ashiqp5{
        margin-top: -20px !important;
    }
    .isipoi{
        display: none !important;
    }
    .sanp{
        margin-top: -9px !important;
    }
    .maindiv{
        background: linear-gradient(#1E9BB7 , #4DB791) !important;
        padding: 0%;
        margin-top: -22px;
        overflow: hidden;
    }
    .bigri3{
        margin-top: -0.5rem !important;
    }
    .sec-1 li{
        font-size: 14px;
        color: #fff !important;
        cursor: pointer;
        font-weight: 500;
        text-decoration: none;
        padding: 1rem;
        font-family: 'Montserrat' sans-serif;
        transition: all 0.3s ease;
        margin-top: -3.5px !important;
    }
    .sanp{
        display: none;
    }
    .sec-11{
        display: block;
        display: flex;
        margin-top: -23px;
        margin-left: 14px !important;
        padding: 0.5rem;
        background: #05284A;
        padding-bottom: 30px !important;
        padding-top: 12px !important;
        width: 1000px;
        text-align: center;
        float: left;
        margin-top: -2rem;
        margin-left: -2px !important;
    }
    .sec-11 li{
        margin: 0%;flex-direction: row;
        padding: 0%;
        font-size: 14px;
        font-weight: 600;
        margin-top: 0.9rem;
        margin-left: 10px;
        padding-left: 0.3rem;
        padding-top: 0.2rem;
    }
    .sec-0{
        margin-left: 200px;
    }
    .sec-0 li{
        margin-top: -11px !important;
        margin-top: 2.5px !important;
        font-size: 10px;
    }
    .sec-b{
        width: 800px !important;
        margin-top: -3%;
        margin-bottom: 10px;
        padding: 0%;
    }
    .sec-b img{
        border-radius: 15px;
        height: 400px !important;
    }.maindiv2{
        max-height: 1700px !important;
    }
    .harpal{
        height: 250px;
    }
    .kursi{
        margin-top: 18px;
    }
    .gholl2{
        font-size: 20px !important;
        margin-left: 55px;
        margin-top: 35px;
        padding: 0%;
    }
    .jave{
        margin-left: 56px;
        font-size: 20px;
        padding-top: 5px;
        display: none !important;
    }
    .funfact-text {
        font-size: 16px;
        margin-top: 24px;
        font-weight: 700;
        padding-left: 20px;
        border-left: 2px solid #fff;
    }
    
    .funfact-text h1 {
        color: #fff;
        font-size: 20px;
    }
    .dabfar img{
        width: 40px;
        height: 40px;
        margin-top: 20px;
    }
    .std{
        margin-top: 42px !important;
        margin-left: 10px;
    }
    .acsuce{
        margin-top: 9px;
    }
    .etats{
        color: #fff;
        font-size: 35px !important;
        margin-top: 40%;
        letter-spacing: 3px;
    }
    .hero-form-cont-ui3{
        margin-top: 27px;
    }
    .hero-form-cont-ui2{
        margin-top: 13% !important;
    }
    .mazria{
        padding: 0%;
        font-size: 23px;
        margin-left: 10px;
    }
    .rasmywafa{
        margin-left: 14%;
        width: 160px;
    }
    .sec-op ul{
        margin-left: -35px;
        text-align: left;
    }
    .icondtail{
        font-size: 14px;
    }
    .sec-op ul li{
        font-size: 23px;
        margin-left: 2px;
    }
    .knif{
        padding: 0%;
    }
    .airport{
        display: none;
    }
    .khatm{
        margin-left: 55px !important;
        margin-top: -1px;
        padding-top: 18px;
        width: 140px;
        height: 150px;
    }
    .lom{
        margin-left: -120% !important;
    }
    .airpor{
        font-size: 35px;
    }
    .sayasi{
        margin-top: 44% !important;
        margin-left: -100px;
    }
    .filar{
        font-size: 18px;
        float: left;
    }
    .filterDiv{
        margin-left: 40px;
    }
    .ptikhan{
        width: 100%;
    }
    .anak{
        margin-left: -0.5px;
        padding-left: 10px;
    }
    .owl-next img{
        display: none;
    }
    .owl-prev img{
        display: none;
    }
    .harpal{
        margin-top: 20%;
    }
    .gholl2{
        margin-top: 29px !important;
    }
    .lopop{
        margin-left: 240px !important;
    }  
    .sirggg{
        margin-left: 10% !important;
    
    }
    .khatm{
        margin-top: 42px !important;
        width: 60%;
        height: 75%;
    }
    .sayasi{
        margin-top: -1px !important;
    }
    .airport{
        display: block !important;
        font-size: 30px;
        margin-left: 2rem;
        margin-top: 2rem;
        bottom: 0;
    }
    .filar{
        font-size: 20px;
        margin-left: 2rem !important;
    }
    .airpor{
        font-size: 65px;
        margin-left: 2rem;
    }
    .ghariti{
        height: 555px;
    }
    #aroer{
        margin-top: -2px !important;
        margin-bottom: 40px !important;
    }
    .mtm2{
        margin-top: -1px;
        padding-top: 18px !important;
    }
    .mtm232{
        margin-top: -1px;
        padding-top: 18px !important;
    }
    #jensjii{
        justify-content: center !important;
        align-items: center;
        text-align: center;
        margin-left: 9.5rem !important;
    }
    .phlidfanas{
        margin-top: 150px !important;
    }
    .ofhitd2{
        height: 400px !important;
    }
    .sec-onew span{
        font-size: 14px !important;
    }
    .sec-onew i{
        font-size: 24px !important;
        padding: 0% !important;
        margin: 0%;
    }
    .dngerus{
        margin-top: 12px;
        margin-left: 25px !important;
    }
    .lachja{
        max-height: 750px !important;
    }


@media only screen  and (min-width:360px) and (max-width:362px) {
        .sec-0 li{
            font-size: 10px;
            padding-left: 20px !important;
            margin-left: 20px !important ;
        }
        .oplej{
            margin-left: 25px !important;
            padding: 0%;
        }
        .oplej2{
            
            padding: 0%;
        }
        .hapan{
            margin-left: 20px !important;
        }
        .kaja{
            width: 80%;
            margin-left: -25px;
        }
        .miandd{
            margin-left: -17px;
            font-size: 14px !important;
        }
        .kursi{
            margin-left: -14% !important;
        }
}}  

